@import '../../../styles/varibles';

.wrap {
  position: fixed;
  min-width: 100vw;
  min-height: 100vh;
  left: 0;
  top: 0;
  z-index: 2;
  background-color: transparent;
}

.nav__item {
  list-style: none;
  position: relative;
  cursor: pointer;
}

.username {
  white-space: nowrap;
}

.dropdown {
  left: -20px;
  top: 25px;
  position: absolute;
  background-color: var(#{--bg-color-default});
  box-shadow: var(#{--shadow-color-default});
  transition: all 0.15s ease;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  cursor: pointer;
  z-index: 2;

  &__item {
    padding: 10px;
  }
}
