.nav__item {
  list-style: none;
  position: relative;
  cursor: pointer;

  &:hover {
    .dropdown {
      display: flex;
    }
  }
}

.username {
  white-space: nowrap;
  padding: 10px 15px;
}

.dropdown {
  left: -5px;
  // top: -8px;
  top: 0;
  position: absolute;
  background-color: var(#{--bg-color-default});
  box-shadow: var(#{--shadow-color-default});
  display: none;
  flex-direction: column;
  border-radius: 4px;
  cursor: pointer;
  z-index: 2;

  &__item {
    padding: 10px;
  }
}
