.link {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 20px;

  &__input {
    border: 1px solid var(#{--text-color-default});
    border-radius: 5px;
    padding: 0 5px;
    min-height: 30px;
    color: var(--text-color-default);
  }
}
