@import '../../../styles/varibles';

.slide {
  &__inner {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
  }

  &__img {
    max-height: 600px;
    border-radius: 20px;
    max-width: 50%;
  }

  &__content {
    max-width: 700px;
    width: 100%;
    color: var(#{--text-color-default});
  }

  &__name {
    font-size: 48px;

    @media (max-width: 768px) {
      font-size: 30px;
    }
    @media (max-width: 500px) {
      font-size: 20px;
    }
  }

  &__reviews {
    display: flex;
    gap: 15px;
  }

  &__review {
    font-size: $fs-big;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin: 10px 0;
    color: rgb(240, 240, 240);

    &.green {
      color: green;
      border: 2px solid green;
    }

    &.yellow {
      color: #fdca52;
      border: 2px solid rgb(253, 202, 82);
    }

    &.red {
      color: red;
      border: 2px solid red;
    }
  }
}
