@import '../../styles/varibles';

.main {
  max-width: 1320px;
  margin: auto;
  padding: 0 10px;
}

.category {
  margin-bottom: 30px;

  &__title {
    margin-bottom: 20px;
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
}
