@import '../../styles/varibles';

.user {
  &__authentication {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url(../../assets/images/floating-cogs.svg);
    position: fixed;

    button {
      background-color: transparent;
      cursor: pointer;
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 10px 30px;
      color: #fff;
      text-transform: uppercase;
      transition: all 0.2s ease;
    }

    input {
      background-color: transparent;
      border: 0;
      outline: 0;

      &::placeholder {
        font-size: $fs-sm;
        color: #ccc;
      }
    }
  }

  &__options {
    position: relative;
    width: 80%;

    &_container {
      width: 50%;
      padding: 75px 45px;
      color: #fff;
    }

    &_text {
      display: flex;
      justify-content: space-between;
      width: 100%;
      background-color: rgba(34, 34, 34, 0.85);
    }

    &_title {
      margin-bottom: 15px;
      font-size: 1.66rem;
      line-height: 1em;
    }

    &_button {
      margin-top: 30px;
      letter-spacing: 0.2rem;
      &:hover {
        color: rgba(34, 34, 34, 0.85);
        background-color: #ccc;
      }
    }
  }

  &__options_forms {
    position: absolute;
    top: 50%;
    left: 30px;
    width: calc(50% - 30px);
    min-height: 420px;
    background-color: var(#{--bg-color-default});
    border-radius: 3px;
    box-shadow: 2px 0 15px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    transform: translate3d(100%, -50%, 0);
    transition: transform 0.4s ease-in-out, background-color 0.3s ease, color 0.3s ease;

    .user__forms_login,
    .user__forms_signup {
      position: absolute;
      top: 80px;
      left: 40px;
      width: calc(100% - 80px);
      transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out, transform 0.5s ease-in-out;
    }

    .user__forms_login {
      opacity: 1;
      visibility: visible;
      transform: translate3d(0, 0, 0);
    }

    .user__forms_signup {
      opacity: 0;
      visibility: hidden;
      transform: translate3d(120px, 0, 0);
      .forms_buttons {
        justify-content: flex-end;
      }
    }

    .forms__title {
      margin-bottom: 45px;
      font-size: 1.5rem;
      font-weight: 500;
      line-height: 1em;
      text-transform: uppercase;
      color: var(#{--text-color-default});
      letter-spacing: 0.1rem;
    }

    .forms__field {
      &:not(:last-of-type) {
        margin-bottom: 20px;
      }
    }

    .forms__field_input {
      width: 100%;
      border-bottom: 1px solid #ccc;
      padding: 6px 20px 6px 0;
      font-size: 1rem;
      font-weight: 300;
      color: gray;
      letter-spacing: 0.1rem;
      transition: border-color 0.2s ease-in-out;
      &:focus {
        border-color: gray;
      }
    }

    .forms__buttons {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 35px;
    }

    .forms__buttons_action {
      background-color: var(#{--bg-color-defult});
      color: var(#{--text-color-defult});
      letter-spacing: 0.1rem;
      border: 1px solid var(#{--text-color-default});

      &:hover {
        background-color: var(#{--text-color-default});
        color: var(#{--bg-color-default});
      }
    }

    .forms__buttons_mb_button {
      display: none;
    }

    &.show_signup {
      display: block;
      transform: translate3d(2%, -50%, 0);
      .user__forms_login {
        opacity: 0;
        visibility: hidden;
        transform: translate3d(-150%, 0%, 0);
      }
      .user__forms_signup {
        opacity: 1;
        visibility: visible;
        transform: translate3d(0, 0, 0);
      }
    }

    &.show_login {
      display: block;
      transform: translate3d(2%, -50%, 0);
      .user__forms_signup {
        opacity: 0;
        visibility: hidden;
        transform: translate3d(150%, 0%, 0);
      }
      .user__forms_login {
        opacity: 1;
        visibility: visible;
        transform: translate3d(0, 0, 0);
      }
    }

    &.bounceLeft {
      animation: bounceLeft 1s forwards;
      .user__forms_signup {
        animation: showSignUp 1s forwards;
      }
      .user__forms_login {
        opacity: 0;
        visibility: hidden;
        transform: translate3d(-120px, 0, 0);
      }
    }

    &.bounceRight {
      animation: bounceRight 1s forwards;
    }
  }
}

@media screen and (max-width: 990px) {
  .user {
    &__options {
      &_text {
        display: none;
      }

      &_forms {
        width: 96%;
        left: 0;
        min-height: 400px;
        transform: translate3d(2%, -50%, 0);

        .user__forms_login {
          top: 40px;

          .forms__buttons_action {
            margin-top: 30px;
          }
        }

        .user__forms_signup {
          top: 40px;
        }

        .forms__buttons {
          flex-direction: column;
        }

        .forms__buttons_mb_button {
          display: block;
          border: 2px solid #e8716d;
          color: #e8716d;
          margin: 20px auto;
          letter-spacing: 0.1rem;

          &:hover {
            background-color: #e8716d;
            color: #fff;
          }
        }

        .forms__title {
          margin-bottom: 20px;
          text-align: center;
        }
      }
    }
  }
}

@keyframes bounceLeft {
  0% {
    -webkit-transform: translate3d(100%, -50%, 0);
    transform: translate3d(100%, -50%, 0);
  }
  50% {
    -webkit-transform: translate3d(-30px, -50%, 0);
    transform: translate3d(-30px, -50%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
  }
}
@keyframes bounceRight {
  0% {
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
  }
  50% {
    -webkit-transform: translate3d(calc(100% + 30px), -50%, 0);
    transform: translate3d(calc(100% + 30px), -50%, 0);
  }
  100% {
    -webkit-transform: translate3d(100%, -50%, 0);
    transform: translate3d(100%, -50%, 0);
  }
}

@keyframes showSignUp {
  100% {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
