@import '../../styles/varibles';

.empty {
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;

  &__icon {
    font-style: normal;
    font-size: 50px;
  }

  &__container {
    text-align: center;
  }

  &__text {
    display: block;
    font-size: $fs-big;
  }
}
