// Typography
$family-title: 'Inter', sans-serif;
$family-text: 'Ubuntu', sans-serif;
$fs-sm: 14px;
$fs-md: 16px;
$fs-big: 20px;
$fw-light: 300;
$fw-normal: 600;
$fw-bold: 800;

// colors
$primary-text-color: #1e1e1e; // light
// #dcdcdc // dark
$secondary-text-color: #dcdcdc; // light
// #1e1e1e // dark
$primary-bg-color: #fafafa; // light
// #202c37 // dark

$shadow-color: rgba(225, 225, 225, 0.3) 0 0 8px; //light theme
// rgba(150, 158, 166, 0.2) 0px 8px 24px //dark theme
