@import '~normalize.css';
@import './varibles';
@import './zero';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

html {
  margin: 0;
  transition: all 0.3s ease;
  background-color: var(#{--bg-color-default});
  color: var(#{--text-color-default});
}

body {
  font-family: $family-text;
}

.app {
  font-size: $fs-md;
  font-weight: $fw-light;
  width: 100%;
  min-height: 100vh;
}
