@import '../../styles/varibles';

.message {
  position: fixed;
  top: 50px;
  right: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  color: rgb(225, 225, 225);
  box-shadow: var(#{--shadow-color-default});
  z-index: 100;
  font-weight: $fw-normal;

  &__success {
    background-color: #28a745;
  }

  &__danger {
    background-color: #dc3545;
  }

  &__warning {
    background-color: #faad14;
  }
}

.animate {
  opacity: 0;
  transition: all 0.3s;
  animation-duration: 1s;
  animation-fill-mode: both;
  transform: translateX(50%);

  &.active {
    opacity: 1;
    transform: translateX(0%);
  }
}
