@import '../../../styles/varibles';

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  gap: 20px;
}

.input {
  transition: all 0.3s ease;
  width: 500px;
  height: 30px;
  font-size: $fs-big;
  padding: 5px 10px 5px 0;
  background-color: var(#{--bg-color-default});
  color: var(#{--text-color-default});
  border: none;
  border-bottom: 2px solid var(#{--text-color-default});
  outline: none;
}
