.button {
  background-color: var(#{--bg-color-default});
  color: var(#{--text-color-default});
  border: 1px solid var(#{--text-color-default});
  border-radius: 8px;
  font-size: 16px;
  padding: 6px 16px;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background-color: var(#{--text-color-default});
    color: var(#{--bg-color-default});
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;

    &:hover {
      background-color: transparent;
      color: var(#{--text-color-default});
    }
  }

  &.accept {
    background-color: transparent;
    border: 1px solid green;

    &:hover {
      background-color: green;
      color: white;
    }
  }

  &.reject {
    background-color: transparent;
    border: 1px solid red;

    &:hover {
      background-color: red;
      color: white;
    }
  }

  &.active {
    cursor: auto;
    background-color: var(#{--text-color-default});
    color: var(#{--bg-color-default});
    border: 1px solid var(#{--text-color-default});
  }
}
