@import '../../../styles/varibles';

.button {
  background-color: var(#{--bg-color-default});
  color: var(#{--text-color-default});
  border: 2px solid var(#{--text-color-default});
  border-radius: 8px;
  font-size: $fs-md;
  padding: 7px 20px;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background-color: var(#{--text-color-default});
    color: var(#{--bg-color-default});
  }
}
