@import '../../styles/varibles';

.modal {
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease-in-out;
  background-color: rgba(#000, 0.5);

  &__dialog {
    z-index: 100;
    padding: 15px 10px;
    margin: 0 auto;
    max-width: 1320px;
    height: 80vh;
    width: 80%;
    padding: 30px;
    background-color: var(--bg-color-default);
    border-radius: 5px;
    box-shadow: var(#{--shadow-color-default});
    overflow: auto;
  }

  &__title {
    font-size: 25px;
    margin-bottom: 10px;
  }

  &__descr {
    margin-bottom: 10px;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }

  &__element {
    position: relative;

    &:hover {
      .modal__delete {
        background-color: var(--bg-color-default);

        button {
          opacity: 1;
          pointer-events: all;
        }
      }
    }
  }

  &__delete {
    position: absolute;
    right: 0;
    top: 310px;
    transition: all 0.3s ease;
    border-radius: 6px;
    z-index: 100;

    & > div > button {
      opacity: 0;
      pointer-events: none;
    }
  }
}
