.section {
  margin-top: 20px;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    font-size: 20px;
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    pointer-events: none;
  }

  &__item {
    min-height: 300px;
    margin-top: 10px;
  }
}
