@import '../../styles/varibles';

.container {
  max-width: 1320px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
}

.logo {
  font-weight: $fw-bold;
  font-size: $fs-big;
}

.nav {
  display: flex;
  align-items: center;
  gap: 15px;

  &__list {
    display: flex;
    gap: 10px;
  }

  &__item {
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;

    &:hover {
      border-bottom: 2px solid var(#{--text-color-default});
    }

    &.active {
      border-bottom: 2px solid var(#{--text-color-default});
    }
  }

  &__link {
    transition: all 0.15s ease;
  }

  &__theme {
    cursor: pointer;
  }
}

.user {
  cursor: pointer;

  &__avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: purple;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: #fff;
    font-weight: $fw-normal;
    font-size: $fs-big;
  }

  &__login {
    border-bottom: 2px solid transparent;
    transition: all 0.15s ease;

    &:hover {
      border-bottom: 2px solid var(#{--text-color-default});
    }
  }
}
