.slides {
  border-radius: 20px;
}

.slide {
  &__inner {
    cursor: pointer;
    max-height: 700px;
    transition: all 0.3s ease;
    height: 100%;
    border-radius: 20px;
    position: relative;
  }

  &__img {
    border-radius: 20px;
    min-height: 700px;
    width: 100%;
    object-fit: cover;
    object-position: center center;
  }

  &__content {
    text-align: left;
    position: absolute;
    top: 50px;
    left: 50px;
    color: rgb(240, 240, 240);
    max-width: 500px;
    text-shadow: 1px 1px rgb(0, 0, 0);
    font-size: 20px;
  }

  &__name {
    font-size: 48px;
    font-weight: 600;

    @media (max-width: 580px) {
      font-size: 30px;
    }
  }

  &__description {
    margin-top: 20px;
    font-weight: 300;
  }

  &__reviews {
    padding: 10px 0;
    display: flex;
    gap: 15px;
  }

  &__screens {
    position: absolute;
    bottom: 100px;
    right: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;

    button {
      border: none;
      background-color: transparent;
    }

    @media (max-width: 580px) {
      justify-content: center;
    }

    &_img {
      max-width: 100px;
      border-radius: 5px;
      z-index: 10;
      transition: all 0.1s ease;

      &.active {
        border: 2px solid #fff;
      }
    }
  }
}
