@import '../../styles/varibles';

.movies {
  max-width: 1320px;
  margin: auto;
  padding: 20px 10px;

  &__title {
    margin: 20px 0;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 20px;
    justify-content: space-between;
  }
}
