@import '../../../styles/varibles';

.section {
  margin-top: 20px;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    font-size: $fs-big;
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
  }

  &__item {
    min-height: 300px;
    margin-top: 10px;
  }

  &__empty {
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;

    &__icon {
      font-style: normal;
      font-size: 50px;
    }

    &__text {
      display: block;
      font-size: $fs-big;
    }
  }
}
